* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.text--secondary {
    color: #FACF5A;
}

.input {
    display: block;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    min-width: 280px;
    width: 100%;
    border: 1px solid #c6c6c6;
}

.input__control {
    margin-top: 8px;
}

.input__label {
    display: block;
    margin-bottom: 4px;
}

.input__error {
    color: #F95959;
}

.button {
    border: none;
    padding: 8px;
    display: inline-block;
}


.button--primary {
    background: #1F2232;
    color: #FACF5A;
    font-weight: bold;
    border: none;
    transition: .4s;
}

.button--primary:hover {
    background: #FACF5A;
    color: #1F2232;
    cursor: pointer;
}

.button--secondary {
    background: #FACF5A;
    color: #333;
    font-size: 1.125rem;
    font-weight: bold;
    border: none;
    transition: .4s;
}

.button--secondary:hover {
    background: #1F2232;
    color: #FACF5A;
    cursor: pointer;
}

.button--form {
    margin-top: 16px;
}

.navbar {
    background-color: #1F2232;
    color: #fff;
    padding: 8px;
}

.navbar__logo-text {
    font-size: 2.25rem;
}

.navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__links {
    display: flex;
}

.navbar__link {
    height: 100%;
    padding: 16px;
    color: #FACF5A;
    border-bottom: 4px solid transparent;
    transition: .4s;
}

.navbar__link:hover {
    border-bottom: 4px solid #FACF5A;
}

.navbar__link--active {
    border-bottom: 4px solid #FACF5A;
}

.section {
    margin-top: 48px;
}

.section__title {
    color: #1F2232;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.table__header {
    background-color: #1F2232;
    color: #FACF5A;
}

.section__table td, .section__table th {
    padding: 12px;
}

.section__table tbody tr:nth-child(even) {
    background-color: #f6f6f6;
}

.table__action {
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

.table__action--primary {
    background: #FACF5A;
    color: #1F2232;
    border: 2px solid #1F2232;
}

.products__image {
    width: 72px;
    height: 72px;
    object-fit: cover;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.page-link {
    padding: 8px 12px;
    display: block;
}

.page-item {
    background-color: #1F2232;
    color: #FACF5A;
}

.page-item.active {
    background-color: #FACF5A;
    color: #1F2232;
}

.page-item.disabled {
    background: #4b506b;
    color: #FACF5A;
}

.product__images {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.product__delete-image {
    width: 240px;
    height: 240px;
    background-color: #1F2232;
    margin-right: 16px;
    border: none;
}

.delete {
    display: none;
}

.product__delete-image:hover .delete {
    display: block;
    background-color: rgba(0,0,0,.3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.delete span {
    font-size: 2rem;
}

.product__delete-image:hover .delete span {
    padding: 10px 20px;
    border-radius: 32px;
    background: #fff;
}
